.container.container-all
  %h1.first-header Enter in an artist:
  .container.container-search
    = form_for :artist, url: {action: "return"} do |f|
      = f.text_field :artist
      = f.submit "Enter"
  .container.container-answer
    - if @artist.nil?
      %p.user-answer
        Nope. Try again.
    - else
      %h1.artist
        #{@artist.name}
      %h3.followers
        = "#{@artist.followers} Spotify followers"
      %img{:alt => "artist image", :src => @artist.image}/
      .wrapper
        %iframe{:src => "//en.wikipedia.org/wiki/#{@artist.name.gsub(/\\s/, '_')}"}
      %h3.genres
        = "Associated genres: "
      %ul.answer-genres
        - @artist.genres.each do |genre|
          %a.genre #{genre}
      %h3.gifs
        = "Check 'em out:"
      %ul.answer
        - @artist.gifs.each do |gif|
          %iframe{:src => gif}
